.container{
  margin:0;
  display: flex;
  justify-content: center;
  height: 90vh;
  align-items: center;
  overflow: hidden;
}
span{
  width:20px;
  height: 20px;
  background: green;
  border-radius: 50%;
  pointer-events: none;
position: absolute;
left: 50%;
top:50%;
transform: translate(-50%, -50%);
animation: animate 6s linear;
}

@keyframes animate{
  0%{
transform: translate(-50%, -50%);
opacity: 1;
filter: hue-rotate(0);
  }
  100%{
    transform: translate(-50%, -5000%);
    opacity: 0;
filter: hue-rotate(720deg);

      }
}