
.menuitem{
  position:fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 4px 8px black;
  align-items: center;
  background: green;

}
nav{
  background: white;
}
ul{
  margin:0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
li{
  margin: 1rem;
}
.active{
  background-color: black;
}